.container {
    margin-top: calc(var(--header-height) + 20px);
    height: 1000vh;
    width: 100%;
}

.container-box > div:nth-child(2) {
    flex: 1;
    margin-left: calc(var(--sidebar-width) + 20px);
}
